* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 18px;
}

h1,
h2,
h3 {
  margin: 0;
}

/* Add styles here! */
header {
  min-height: 50%;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

main {
  min-height: 50%;
  background-color: hsl(0, 0%, 60%);
  padding: 96px 0px;
}

.intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 24px;
}

.intro-chunk {
  padding: 96px 0px;
  max-width: 400px;
}

.intro-chunk p {
  font-size: 1.25rem;
}

.intro-chunk .title {
  font-size: 2rem;
  margin-bottom: 32px;
}

.title {
  padding-bottom: 16px;
}

.card {
  background-color: white;
  padding: 24px;
  margin: -24px;

  border-bottom: 8px solid hsl(0deg 0% 40%);
}

.card p {
  font-size: 1.25rem;
  line-height: 1.4;
}

.card > p {
  padding-left: 16px;
  padding-right: 16px;
}

.card p:last-child {
  margin-bottom: 0px;
}

.indented-heading {
  background-color: hsl(45deg 100% 50%);
  width: fit-content;

  margin-top: -16px;
  margin-left: -32px;
  padding: 16px;
  padding-left: 32px;

  border-bottom: 8px solid hsl(45deg 100% 40%);
}
